<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/sun.css' %}">
</head>
<body>
<div class="container" align="center">
        <div class="jumbotron">
            <h1>Welcome To SUNNYJOBS</h1>
            <p>Continuous Job Updates For Every Hour.....</p>
            <a class="btn btn-primary btn-lg" href="/hyd">Hyderabad Jobs</a>
            <a class="btn btn-primary btn-lg" href="/bng">Bangalore Jobs</a>
            <a class="btn btn-primary btn-lg" href="/punne"> Pune Jobs</a>
        </div>
    </div>
</body>
</html>